<script type="text/ng-template" id="myModalPasswordContent.html" >
<form name="miForm" ng-submit="save();" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">Cambiar contraseña</h3>
            </div> 
            <div class="modal-body"> 
                <div class="row" >
                    <div class="form-group col-xs-12 col-md-12">
                        <label>Contraseña actual: <span class="asterisk">*</span></label>                        
                        <input type="password" name="contrasenaactual"  class="form-control input-sm" maxlength="20" ng-model="entidad.contrasenaactual" required> 
                        <div ng-messages="miForm.contrasenaactual.$error" class="required" role="alert" ng-show="miForm.contrasenaactual.$dirty">
                            <div ng-message="required">El campo es requerido</div>                            
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-xs-12 col-md-12">
                        <label>Contraseña nueva: <span class="asterisk">*</span></label>                        
                        <input type="password" name="contrasenanueva"  class="form-control input-sm" ng-minlength="6" maxlength="20" ng-model="entidad.contrasenanueva" ng-change="confirm=false" required> 
                        <div ng-messages="miForm.contrasenanueva.$error" class="required" role="alert" ng-show="miForm.contrasenanueva.$dirty">
                            <div ng-message="required">El campo es requerido</div>
                            <div ng-message="minlength">M&iacute;nimo 6 caracteres</div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-xs-12 col-md-12">
                        <label>Confirmar contraseña: <span class="asterisk">*</span></label>                        
                        <input type="password" name="contrasenaconfirm"  class="form-control input-sm" ng-minlength="6" maxlength="20" ng-model="entidad.contrasenaconfirm" ng-change="confirm=false" required> 
                        <div ng-messages="miForm.contrasenaconfirm.$error" class="required" role="alert" ng-show="miForm.contrasenaconfirm.$dirty">
                            <div ng-message="required">El campo es requerido</div>
                            <div ng-message="minlength">M&iacute;nimo 6 caracteres</div>
                        </div>
                        <div class="required" ng-show="confirm">
                            <span>Contraseña nueva y confirmaci&oacute;n, no coinciden.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">            
                <button class="btn btn-primary" ng-disabled="miForm.$invalid || miForm.$submitted">Guardar</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
</script>