
<div class="row">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="panel panel-success rounded shadow">
                <div class="panel-heading text-center">
                    <p class="inner-all no-margin">
                        <i class="fa fa-calendar fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin text-strong">Mar, Ago 22</p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="panel panel-danger rounded shadow">
                <div class="panel-heading text-center">
                    <p class="inner-all no-margin">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin text-strong">03:45 PM</p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="panel panel-teal rounded shadow">
                <div class="panel-heading text-center">
                    <p class="inner-all no-margin">
                        <i class="fa fa-money fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin text-strong">S/. 3.22</p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="panel panel-primary rounded shadow">
                <div class="panel-heading text-center">
                    <p class="inner-all no-margin">
                        <i class="fa fa-mobile fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin text-strong">4 Recordatorios</p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="panel panel-info rounded shadow">
                <div class="panel-heading text-center">
                    <p class="inner-all no-margin">
                        <i class="fa fa-file-text fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin text-strong">5 Tareas</p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="panel panel-primary rounded shadow">
                <div class="panel-heading text-center">
                    <p class="inner-all no-margin">
                        <i class="fa fa-medkit fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin text-strong">1 Campaña</p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div><!-- /.row -->

    <div class="row text-center">
      <img src="{{settings.globalImagePath}}/imagenes/logo-clinica.png" alt="">
    </div>
    <!-- Start mini stats social widget -->
    <div class="row">
        <div class="col-md-3  col-xs-4 col-xs-override">

            <div class="panel rounded shadow">
                <div class="panel-heading text-center bg-facebook">
                    <p class="inner-all no-margin">
                        <i class="fa fa-street-view fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin inner-all text-strong">
                        <span class="block">342</span>
                        <span class="block">Pacientes</span>
                    </p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->

        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-xs-override">

            <div class="panel rounded shadow">
                <div class="panel-heading text-center bg-primary">
                    <p class="inner-all no-margin">
                        <i class="fa fa-birthday-cake fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin inner-all text-strong">
                        <span class="block">7</span>
                        <span class="block">Cumpleaños</span>
                    </p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->

        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-xs-override">

            <div class="panel rounded shadow">
                <div class="panel-heading text-center bg-youtube">
                    <p class="inner-all no-margin">
                        <i class="fa fa-calendar fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin inner-all text-strong">
                        <span class="block">32</span>
                        <span class="block">Citas Programadas</span>
                    </p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->

        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-xs-override">

            <div class="panel rounded shadow">
                <div class="panel-heading text-center bg-soundcloud">
                    <p class="inner-all no-margin">
                        <i class="fa fa-user-md fa-5x"></i>
                    </p>
                </div><!-- /.panel-heading -->
                <div class="panel-body text-center">
                    <p class="h4 no-margin inner-all text-strong">
                        <span class="block">5</span>
                        <span class="block">Especialistas</span>
                    </p>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->

        </div>

    </div>

    <!--/ End mini stats social widget -->
</div><!-- /.row -->
