<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all">
                    <ul class="list-unstyled">
                        <li class="text-center">
                            <img class="img-circle img-bordered-primary" ng-src="{{settings.globalImagePath}}/imagenes/foto-100x100.png" alt="Tol Lee">
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">Mario Arenas Vargas</h4>
                            <p class="text-muted text-capitalize">Sede CENTRAL</p>
                        </li>
                        <li>
                            <a href="" class="btn btn-success text-center btn-block">Historial Clinico</a>
                        </li>
                        <li><br/></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                              <a href="#/paciente-view" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Datos Personales</a>
                                <a href="#/paciente-view-citas" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Citas</a>
                                <a href="#/paciente-view-atencion" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Registro de Atención</a>
                                <a href="#/paciente-view-presupuesto" class="btn btn-danger"><i class="fa fa-cog pull-right"></i>Presupuestos</a>
                                <a href="#/paciente-view-documentos" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Documentos Clinicos</a>
                                <a href="#/paciente-view-imagenes" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Imagenes y Videos</a>
                           </div>
                        </li>
                        <li><br/></li>
                        <li>
                            <a href="" class="btn btn-success text-center btn-block">Facturación</a>
                        </li>
                        <li><br/></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Recaudación(Pagos)</a>
                                <a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Pagos Recibidos</a>
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Pagos Anulados</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">

<div class="row">
    <div class="col-md-12">

        <!-- Start sample validation 1-->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Presupuestos</h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body no-padding">
              <div class="row" style="margin:10px !important">
                <h5 class="comment-title mb-5 pull-left">Fecha: <strong>21 Agosto 2017</strong></h5>
                <h4 class="comment-title mb-5 pull-right">PRESUPUESTO Nro. <strong>00001-2017</strong></h4><br/>
                <hr/>
                <h5 class="comment-title mb-5">Especialista: <strong>JUAN PEREZ VASQUEZ</strong> </h5>
                <p class="text-muted">El presente presupuesto tiene vigencia de 30 dias calendario.</p>
                <div class="mb-20"></div>

                <form class="form-horizontal mb-20" role="form">
                    <div class="form-group no-margin">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="text" class="form-control mb-15" placeholder="Cantidad"/>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control mb-15" placeholder="Tratamiento"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group no-margin no-padding">
                        <button type="submit" class="btn btn-success pull-right rounded">Agregar a la Lista</button>
                    </div>
                </form>
              </div>
              <div class="row" style="padding-left:20px;padding-right:20px;">
                  <!-- Start table with actions -->
                  <div class="table-responsive mb-20">
                      <table class="table">
                          <thead>
                          <tr>
                              <th class="text-center">Item</th>
                              <th class="text-center" style="max-width:30px;">Cantidad</th>
                              <th>Tratamiento</th>
                              <th>Precio</th>
                              <th class="text-center" style="min-width: 15%">Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="text-center">1</td>
                                  <td class="text-center">1</td>
                                  <td>Tratamiento 1</td>
                                  <td>200.00</td>
                                  <td class="text-center">
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="view detail"><i class="fa fa-eye"></i></a>
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="edit"><i class="fa fa-edit"></i></a>
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="delete"><i class="fa fa-trash-o"></i></a>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">2</td>
                                  <td class="text-center">1</td>
                                  <td>Tratamiento 2</td>
                                  <td>100.00</td>
                                  <td class="text-center">
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="view detail"><i class="fa fa-eye"></i></a>
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="edit"><i class="fa fa-edit"></i></a>
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="delete"><i class="fa fa-trash-o"></i></a>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-center">3</td>
                                  <td class="text-center">1</td>
                                  <td>Tratamiento 3</td>
                                  <td>240.00</td>
                                  <td class="text-center">
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="view detail"><i class="fa fa-eye"></i></a>
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="edit"><i class="fa fa-edit"></i></a>
                                      <a data-tooltip href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="delete"><i class="fa fa-trash-o"></i></a>
                                  </td>
                              </tr>
                          </tbody>
                          <tfoot>
                          <tr>
                              <td colspan="3" rowspan="3">&nbsp;</td>
                              <td colspan="1">Total (Neto)</td>
                              <td colspan="2">540.00</td>
                          </tr>
                          <tr>
                              <td colspan="1">IGV (18%)</td>
                              <td colspan="2">97.20</td>
                          </tr>
                          <tr>
                              <td colspan="1">Total</td>
                              <td colspan="2">442.80</td>
                          </tr>
                          </tfoot>
                      </table>
                  </div><!-- /.table-responsive -->
                  <!--/ End table with actions -->
                  <div class="pull-right mb-20">
                    <button type="submit" class="btn btn-danger pull-right rounded"><i class="fa fa-fw fa-arrow-right"></i> Guardar Presupuesto</button>
                    <button class="btn btn-warning pull-right mr-5 rounded"><i class="fa fa-print"></i> Imprimir</button>
                  </div>
                  <div class="clearfix"></div>

              </div>

            </div>
        </div><!-- /.panel -->
        <!--/ End sample validation 1 -->

    </div>
</div><!-- /.row -->


    </div>
</div><!-- /.row -->
