<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all">
                    <ul class="list-unstyled">
                        <li class="text-center">
                            <img class="img-circle img-bordered-primary" ng-src="{{settings.globalImagePath}}/imagenes/foto-100x100.png" alt="Tol Lee">
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">Mario Arenas Vargas</h4>
                            <p class="text-muted text-capitalize">Sede CENTRAL</p>
                        </li>
                        <li>
                            <a href="" class="btn btn-success text-center btn-block">Historial Clinico</a>
                        </li>
                        <li><br/></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                              <a href="#/paciente-view" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Datos Personales</a>
                              <a href="#/paciente-view-citas" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Citas</a>
                              <a href="#/paciente-view-atencion" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Registro de Atención</a>
                              <a href="#/paciente-view-presupuesto" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Presupuestos</a>
                              <a href="#/paciente-view-documentos" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Documentos Clinicos</a>
                              <a href="#/paciente-view-imagenes" class="btn btn-danger"><i class="fa fa-sign-out pull-right"></i>Imagenes y Videos</a>
                           </div>
                        </li>
                        <li><br/></li>
                        <li>
                            <a href="" class="btn btn-success text-center btn-block">Facturación</a>
                        </li>
                        <li><br/></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Recaudación(Pagos)</a>
                                <a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Pagos Recibidos</a>
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Pagos Anulados</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">

        <div class="panel rounded shadow">
          <div class="panel-heading">
              <div class="pull-left">
                  <h3 class="panel-title">Imagenes Archivadas</h3>
              </div>
              <div class="pull-right">
                  <button data-tooltip data-collapse-panel class="btn btn-sm" data-container="body" data-action="collapse" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                  <button data-tooltip data-remove-panel class="btn btn-sm" data-container="body" data-action="remove" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="panel-body no-padding">

            <!-- Start blog widget -->
            <div class="row"  style="margin:5px !important;">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <a href="#" class="blog-img">
                            <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                        </a>
                        <div class="blog-details">
                            <h4 class="blog-title"><a href="">Titulo Imagen</a></h4>
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>10-Ago-2017</li>
                                <li><a href="">comentarios</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-blog-post" data-slide-to="1"></li>
                                <li data-target="#carousel-blog-post" data-slide-to="2"></li>
                            </ol><!-- /.carousel-indicators -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                                    <div class="carousel-caption">
                                        Imagen 1
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                                    <div class="carousel-caption">
                                        Imagen 2
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                                    <div class="carousel-caption">
                                        Imagen 3
                                    </div>
                                </div><!-- /.item -->
                            </div><!-- /.carousel-inner -->
                            <a class="left carousel-control" href="#carousel-blog-post" role="button" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a><!-- /.carousel-control -->
                            <a class="right carousel-control" href="#carousel-blog-post" role="button" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a><!-- /.carousel-control -->
                        </div><!-- carousel -->
                        <div class="blog-details">
                            <h4 class="blog-title"><a href="">Titulo Imagen</a></h4>
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>10-Ago-2017</li>
                                <li><a href="">comentarios</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <a href="page-blog-single.html" class="blog-img"><img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." /></a>
                        <div class="blog-details">
                            <div class="ribbon-wrapper">
                                <div class="ribbon ribbon-danger">Importante</div>
                            </div><!-- /.ribbon-wrapper -->
                            <h4 class="blog-title"><a href="">Titulo Imagen</a></h4><!-- /.blog-title -->
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>5-Ago-2017</li>
                                <li><a href="">comentario</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <div class="blog-video">
                            <iframe src="//www.youtube.com/embed/ab0TSkLe-E0" allowfullscreen></iframe>
                        </div>
                        <div class="blog-details">
                            <h4 class="blog-title"><a href="">Titulo Video</a></h4><!-- /.blog-title -->
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>1-Ago-2017</li>
                                <li><a href="">comentarios</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->

            <!-- Start blog widget -->
            <div class="row"  style="margin:5px !important;">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <a href="#" class="blog-img">
                            <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                        </a>
                        <div class="blog-details">
                            <h4 class="blog-title"><a href="">Titulo Imagen</a></h4>
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>10-Jun-2017</li>
                                <li><a href="">comentarios</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-blog-post" data-slide-to="1"></li>
                                <li data-target="#carousel-blog-post" data-slide-to="2"></li>
                            </ol><!-- /.carousel-indicators -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                                    <div class="carousel-caption">
                                        Imagen 1
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                                    <div class="carousel-caption">
                                        Imagen 2
                                    </div>
                                </div><!-- /.item -->
                                <div class="item">
                                    <img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." />
                                    <div class="carousel-caption">
                                        Imagen 3
                                    </div>
                                </div><!-- /.item -->
                            </div><!-- /.carousel-inner -->
                            <a class="left carousel-control" href="#carousel-blog-post" role="button" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a><!-- /.carousel-control -->
                            <a class="right carousel-control" href="#carousel-blog-post" role="button" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a><!-- /.carousel-control -->
                        </div><!-- carousel -->
                        <div class="blog-details">
                            <h4 class="blog-title"><a href="">Titulo Imagen</a></h4>
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>10-May-2017</li>
                                <li><a href="">comentarios</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <a href="#" class="blog-img"><img src="http://img.djavaui.com/?create=250x170,81B71A?f=ffffff" class="img-responsive" alt="..." /></a>
                        <div class="blog-details">
                            <div class="ribbon-wrapper">
                                <div class="ribbon ribbon-danger">Importante</div>
                            </div><!-- /.ribbon-wrapper -->
                            <h4 class="blog-title"><a href="">Titulo Imagen</a></h4><!-- /.blog-title -->
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>10-Abr-2017</li>
                                <li><a href="">comentario</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="blog-item rounded shadow">
                        <div class="blog-video">
                            <iframe src="//www.youtube.com/embed/ab0TSkLe-E0" allowfullscreen></iframe>
                        </div>
                        <div class="blog-details">
                            <h4 class="blog-title"><a href="">Titulo Video</a></h4><!-- /.blog-title -->
                            <ul class="blog-meta">
                                <li>By: <a href="">Usuario</a></li>
                                <li>10-Feb-2017</li>
                                <li><a href="">comentarios</a></li>
                            </ul><!-- /.blog-meta -->
                            <div class="blog-summary">
                                <p>Content post goes here ...</p>
                                <button class="btn btn-sm btn-success">Leer Más</button>
                            </div><!-- /.blog-summary -->
                        </div><!-- /.blog-details -->
                    </div><!-- /.blog-item -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->

          </div>
       </div>

    </div>
</div><!-- /.row -->
